.libs
.deps
Makefile
Makefile.in
*.o
*.a
INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
intltool-*.in
denemo.spec
depcomp
install-sh
libsmf/libsmf.a
libsmf/smfsh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/intltool.m4
missing
mkinstalldirs
stamp-h1
tags
*~

# Translation directory
po/POTFILES
po/notexist
po/Makefile.in.in
po/stamp-it
po/*.gmo
po/POTFILES.skip
po/*.pot

# Source files
src/denemo
src/lyparser.c
src/pathconfig.h
src/*.cDEV

# Tools directory
tools/cairo_svg2path
tools/extract_scheme
tools/generate_source

# Anjuta ignores
Debug
.anjuta*
*.anjuta
