.libs
.deps
Makefile
Makefile.in
*.o
*.a
INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
denemo.spec
depcomp
install-sh
libsmf/libsmf.a
libsmf/smfsh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
mkinstalldirs
po/POTFILES
src/denemo
src/lyparser.c
stamp-h1
tags
actions/mxml2ly2denemo/mxml2ly2denemo.l.scm
po/*.gmo
*~
src/*.cDEV
utils/a.out
utils/generate_commands

#Anjuta ignores
Debug
.anjuta*
*.anjuta
