<?xml version="1.0"?>
<Denemo>
  <commands>
    <title>A Denemo Keymap</title>
    <author>AT, JRR, RTS</author>
    <map>
      <builtin>
        <command>0</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;0&lt;/span&gt;</label>
        <tooltip>In insert mode, changes prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;0&lt;/span&gt;
In edit mode changes the current note to &lt;span  size="10000" face="Denemo"&gt;0&lt;/span&gt;
 or appends a &lt;span  size="10000" face="Denemo"&gt;0&lt;/span&gt; if no current note
In classic mode inserts a &lt;span  size="10000" face="Denemo"&gt;0&lt;/span&gt; at the cursor</tooltip>
        <bind>0</bind>
      </builtin>
      <builtin>
        <command>1</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;1&lt;/span&gt;</label>
        <tooltip>In insert mode, changes prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;1&lt;/span&gt;
In edit mode changes the current note to &lt;span  size="10000" face="Denemo"&gt;1&lt;/span&gt;
 or appends a &lt;span  size="10000" face="Denemo"&gt;1&lt;/span&gt; if no current note
In classic mode inserts a &lt;span  size="10000" face="Denemo"&gt;1&lt;/span&gt; at the cursor</tooltip>
        <bind>1</bind>
      </builtin>
      <builtin>
        <command>2</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;2&lt;/span&gt;</label>
        <tooltip>In insert mode, changes prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;2&lt;/span&gt;
In edit mode changes the current note to &lt;span  size="10000" face="Denemo"&gt;2&lt;/span&gt;
 or appends a &lt;span  size="10000" face="Denemo"&gt;2&lt;/span&gt; if no current note
In classic mode inserts a &lt;span  size="10000" face="Denemo"&gt;2&lt;/span&gt; at the cursor</tooltip>
        <bind>2</bind>
      </builtin>
      <builtin>
        <command>3</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;3&lt;/span&gt;</label>
        <tooltip>In insert mode, changes prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;3&lt;/span&gt;
In edit mode changes the current note to &lt;span  size="10000" face="Denemo"&gt;3&lt;/span&gt;
 or appends a &lt;span  size="10000" face="Denemo"&gt;3&lt;/span&gt; if no current note
In classic mode inserts a &lt;span  size="10000" face="Denemo"&gt;3&lt;/span&gt; at the cursor</tooltip>
        <bind>3</bind>
      </builtin>
      <builtin>
        <command>4</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;4&lt;/span&gt;</label>
        <tooltip>In insert mode, changes prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;4&lt;/span&gt;
In edit mode changes the current note to &lt;span  size="10000" face="Denemo"&gt;4&lt;/span&gt;
 or appends a &lt;span  size="10000" face="Denemo"&gt;4&lt;/span&gt; if no current note
In classic mode inserts a &lt;span  size="10000" face="Denemo"&gt;4&lt;/span&gt; at the cursor</tooltip>
        <bind>4</bind>
      </builtin>
      <builtin>
        <command>5</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;5&lt;/span&gt;</label>
        <tooltip>In insert mode, changes prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;5&lt;/span&gt;
In edit mode changes the current note to &lt;span  size="10000" face="Denemo"&gt;5&lt;/span&gt;
 or appends a &lt;span  size="10000" face="Denemo"&gt;5&lt;/span&gt; if no current note
In classic mode inserts a &lt;span  size="10000" face="Denemo"&gt;5&lt;/span&gt; at the cursor</tooltip>
        <bind>5</bind>
      </builtin>
      <builtin>
        <command>6</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;6&lt;/span&gt;</label>
        <tooltip>In insert mode, changes prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;6&lt;/span&gt;
In edit mode changes the current note to &lt;span  size="10000" face="Denemo"&gt;6&lt;/span&gt;
 or appends a &lt;span  size="10000" face="Denemo"&gt;6&lt;/span&gt; if no current note
In classic mode inserts a &lt;span  size="10000" face="Denemo"&gt;6&lt;/span&gt; at the cursor</tooltip>
        <bind>6</bind>
      </builtin>
      <builtin>
        <command>A</command>
        <label>A</label>
        <tooltip>Move the cursor to A</tooltip>
        <bind>a</bind>
      </builtin>
      <builtin>
        <command>About</command>
        <label>About</label>
        <tooltip>Gives the version number etc of this program</tooltip>
      </builtin>
      <builtin>
        <command>AddAfter</command>
        <label>AddAfter</label>
        <tooltip>Inserts/Adds a new staff after the current staff</tooltip>
      </builtin>
      <builtin>
        <command>AddBefore</command>
        <label>AddBefore</label>
        <tooltip>Inserts a new staff before the current staff</tooltip>
      </builtin>
      <builtin>
        <command>AddBookmark</command>
        <label>Add Bookmark</label>
        <tooltip>Bookmark the current cursor position</tooltip>
      </builtin>
      <builtin>
        <command>AddDot</command>
        <label>AddDot</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>period</bind>
      </builtin>
      <builtin>
        <command>AddInitial</command>
        <label>AddInitial</label>
        <tooltip>Inserts a new staff at the top of the score</tooltip>
      </builtin>
      <builtin>
        <command>AddLast</command>
        <label>AddLast</label>
        <tooltip>Inserts a new staff at the end of the score</tooltip>
      </builtin>
      <builtin>
        <command>AddMovements</command>
        <label>AddMovements</label>
        <tooltip>Add movements from a Denemo file</tooltip>
      </builtin>
      <builtin>
        <command>AddNoteToChord</command>
        <label>Add note</label>
        <tooltip>Add a note to the current chord
The cursor position determines which note to add</tooltip>
      </builtin>
      <builtin>
        <command>AddStaffs</command>
        <label>AddStaffs</label>
        <tooltip>Add staffs from a Denemo file</tooltip>
      </builtin>
      <builtin>
        <command>AddVoice</command>
        <label>AddVoice</label>
        <tooltip>Adds a new voice (part), to the current staff. It is tricky to switch between the voices. Suggest to use merge staffs</tooltip>
      </builtin>
      <builtin>
        <command>AppendMeasure</command>
        <label>AppendMeasure</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>AppendMesauresToScore</command>
        <label>AppendMesauresToScore</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>B</command>
        <label>B</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>b</bind>
      </builtin>
      <builtin>
        <command>C</command>
        <label>C</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>c</bind>
      </builtin>
      <builtin>
        <command>Change0</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;0&lt;/span&gt;</label>
        <tooltip>Change the current note to a &lt;span  size="10000" face="Denemo"&gt;0&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>Change1</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;1&lt;/span&gt;</label>
        <tooltip>Change the current note to a &lt;span  size="10000" face="Denemo"&gt;1&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>Change2</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;2&lt;/span&gt;</label>
        <tooltip>Change the current note to a &lt;span  size="10000" face="Denemo"&gt;2&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>Change3</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;3&lt;/span&gt;</label>
        <tooltip>Change the current note to a &lt;span  size="10000" face="Denemo"&gt;3&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>Change4</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;4&lt;/span&gt;</label>
        <tooltip>Change the current note to a &lt;span  size="10000" face="Denemo"&gt;4&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>Change5</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;5&lt;/span&gt;</label>
        <tooltip>Change the current note to a &lt;span  size="10000" face="Denemo"&gt;5&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>Change6</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;6&lt;/span&gt;</label>
        <tooltip>Change the current note to a &lt;span  size="10000" face="Denemo"&gt;6&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>ChangeNotehead</command>
        <label>ChangeNotehead</label>
        <tooltip>Change the type of notehead for the current note</tooltip>
      </builtin>
      <builtin>
        <command>ChangePitch</command>
        <label>ChangePitch</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ChangeRest0</command>
        <label>Change a &lt;span  size="10000" face="Denemo"&gt;0&lt;/span&gt;rest</label>
        <tooltip>Changes a rest at cursor position
Sets prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;0&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>ChangeRest1</command>
        <label>Change a &lt;span  size="10000" face="Denemo"&gt;1&lt;/span&gt;rest</label>
        <tooltip>Changes a rest at cursor position
Sets prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;1&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>ChangeRest2</command>
        <label>Change a &lt;span  size="10000" face="Denemo"&gt;2&lt;/span&gt;rest</label>
        <tooltip>Changes a rest at cursor position
Sets prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;2&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>ChangeRest3</command>
        <label>Change a &lt;span  size="10000" face="Denemo"&gt;3&lt;/span&gt;rest</label>
        <tooltip>Changes a rest at cursor position
Sets prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;3&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>ChangeRest4</command>
        <label>Change a &lt;span  size="10000" face="Denemo"&gt;4&lt;/span&gt;rest</label>
        <tooltip>Changes a rest at cursor position
Sets prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;4&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>ChangeRest5</command>
        <label>Change a &lt;span  size="10000" face="Denemo"&gt;5&lt;/span&gt;rest</label>
        <tooltip>Changes a rest at cursor position
Sets prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;5&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>ChangeRest6</command>
        <label>Change a &lt;span  size="10000" face="Denemo"&gt;6&lt;/span&gt;rest</label>
        <tooltip>Changes a rest at cursor position
Sets prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;6&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>ChangeToA</command>
        <label>Change to A</label>
        <tooltip>Changes note at cursor to nearest note A
Rhythm is unchanged</tooltip>
      </builtin>
      <builtin>
        <command>ChangeToB</command>
        <label>Change to B</label>
        <tooltip>Changes note at cursor to nearest note B
Rhythm is unchanged</tooltip>
      </builtin>
      <builtin>
        <command>ChangeToC</command>
        <label>Change to C</label>
        <tooltip>Changes note at cursor to nearest note C
Rhythm is unchanged</tooltip>
      </builtin>
      <builtin>
        <command>ChangeToD</command>
        <label>Change to D</label>
        <tooltip>Changes note at cursor to nearest note D
Rhythm is unchanged</tooltip>
      </builtin>
      <builtin>
        <command>ChangeToE</command>
        <label>Change to E</label>
        <tooltip>Changes note at cursor to nearest note E
Rhythm is unchanged</tooltip>
      </builtin>
      <builtin>
        <command>ChangeToF</command>
        <label>Change to F</label>
        <tooltip>Changes note at cursor to nearest note F
Rhythm is unchanged</tooltip>
      </builtin>
      <builtin>
        <command>ChangeToG</command>
        <label>Change to G</label>
        <tooltip>Changes note at cursor to nearest note G
Rhythm is unchanged</tooltip>
      </builtin>
      <builtin>
        <command>ClearOverlay</command>
        <label>ClearOverlay</label>
        <tooltip>Clear the list of pitches that overlay the notes</tooltip>
      </builtin>
      <builtin>
        <command>Close</command>
        <label>Close</label>
        <tooltip>Close the current score. Other windows will stay open</tooltip>
      </builtin>
      <builtin>
        <command>CloseRepeat</command>
        <label>CloseRepeat</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>CommandManagement</command>
        <label>Manage Commands and Shortcuts</label>
        <tooltip>View, change and save keyboard shortcuts</tooltip>
      </builtin>
      <builtin>
        <command>ConfigureScore</command>
        <label>ConfigureScore</label>
        <tooltip>Start up a wizard to create a new score. This allows you to set various properties of the score</tooltip>
      </builtin>
      <builtin>
        <command>Copy</command>
        <label>Copy</label>
        <tooltip>Copy</tooltip>
        <bind>Control+c</bind>
      </builtin>
      <builtin>
        <command>CreateRhythm</command>
        <label>CreateRhythm</label>
        <tooltip>Copy selection as a rhythm pattern for notes to follow as they are entered</tooltip>
      </builtin>
      <builtin>
        <command>CursorDown</command>
        <label>CursorDown</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>Down</bind>
      </builtin>
      <builtin>
        <command>CursorLeft</command>
        <label>CursorLeft</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>Left</bind>
      </builtin>
      <builtin>
        <command>CursorRight</command>
        <label>CursorRight</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>Right</bind>
      </builtin>
      <builtin>
        <command>CursorUp</command>
        <label>CursorUp</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>Up</bind>
      </builtin>
      <builtin>
        <command>Cut</command>
        <label>Cut</label>
        <tooltip>Cut</tooltip>
        <bind>Control+x</bind>
      </builtin>
      <builtin>
        <command>D</command>
        <label>D</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>d</bind>
      </builtin>
      <builtin>
        <command>DeleteAfter</command>
        <label>DeleteAfter</label>
        <tooltip>Deletes the staff after the current staff</tooltip>
      </builtin>
      <builtin>
        <command>DeleteBefore</command>
        <label>DeleteBefore</label>
        <tooltip>Deletes the staff before the current staff</tooltip>
      </builtin>
      <builtin>
        <command>DeleteBookmarks</command>
        <label>DeleteBookmarks</label>
        <tooltip>Delete all bookmarks in current movement</tooltip>
      </builtin>
      <builtin>
        <command>DeleteMeasure</command>
        <label>DeleteMeasure</label>
        <tooltip>Delete the current measure in this staff, leaving the staff short</tooltip>
      </builtin>
      <builtin>
        <command>DeleteMeasureAllStaffs</command>
        <label>DeleteMeasureAllStaffs</label>
        <tooltip>Delete the current measure in all staffs</tooltip>
        <bind>Control+m</bind>
      </builtin>
      <builtin>
        <command>DeleteMovement</command>
        <label>DeleteMovement</label>
        <tooltip>Delete the current movement</tooltip>
      </builtin>
      <builtin>
        <command>DeleteObject</command>
        <label>DeleteObject</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>Delete</bind>
      </builtin>
      <builtin>
        <command>DeletePreviousObject</command>
        <label>DeletePreviousObject</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>BackSpace</bind>
      </builtin>
      <builtin>
        <command>DeleteRhythm</command>
        <label>DeleteRhythm</label>
        <tooltip>Delete the selected rhythm pattern</tooltip>
      </builtin>
      <builtin>
        <command>DeleteStaff</command>
        <label>DeleteStaff</label>
        <tooltip>Deletes the current staff</tooltip>
      </builtin>
      <builtin>
        <command>DoubleBar</command>
        <label>DoubleBar</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>E</command>
        <label>E</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>e</bind>
      </builtin>
      <builtin>
        <command>EditChords</command>
        <label>EditChords</label>
        <tooltip>Allows chord symbols to be added to the current note. E.G.cis:dim7 for c-sharp diminished 7th. See Lilypond docs for notation</tooltip>
      </builtin>
      <builtin>
        <command>EditFiguredBass</command>
        <label>Insert/Edit Figured Bass</label>
        <tooltip>Add a bass figure to the current note. Use | sign to split the duration of a note so as to have multiple figures on one note. See Lilypond docs for other notation</tooltip>
      </builtin>
      <builtin>
        <command>EditLyric</command>
        <label>Insert/Edit Lyric</label>
        <tooltip>Add a lyric to current note. Beware: all previous notes must have lyrics for printing correctly</tooltip>
      </builtin>
      <builtin>
        <command>EighthNote</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;3&lt;/span&gt;</label>
        <tooltip>Insert eighth-note</tooltip>
      </builtin>
      <builtin>
        <command>EndBar</command>
        <label>EndBar</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>EndTuplet</command>
        <label>EndTuplet</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ExportPDF</command>
        <label>ExportPDF</label>
        <tooltip>Export the score as a PDF document file</tooltip>
      </builtin>
      <builtin>
        <command>F</command>
        <label>F</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>f</bind>
      </builtin>
      <builtin>
        <command>FlattenOrStemUp</command>
        <label>FlattenOrStemUp</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>minus</bind>
      </builtin>
      <builtin>
        <command>ForceCaution</command>
        <label>ForceCaution</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>G</command>
        <label>G</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>g</bind>
      </builtin>
      <builtin>
        <command>GoToBeginning</command>
        <label>Go To Beginning</label>
        <tooltip>Go To Beginning</tooltip>
      </builtin>
      <builtin>
        <command>GoToEnd</command>
        <label>Go To End</label>
        <tooltip>Go To End</tooltip>
      </builtin>
      <builtin>
        <command>GoToMeasure</command>
        <label>Go to Measure</label>
        <tooltip>Opens a dialog for going to a numbered measure</tooltip>
      </builtin>
      <builtin>
        <command>GotoBookmark</command>
        <label>GotoBookmark</label>
        <tooltip>Go to a bookmarked point in the score</tooltip>
      </builtin>
      <builtin>
        <command>HalfNote</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;1&lt;/span&gt;</label>
        <tooltip>Insert half-note</tooltip>
      </builtin>
      <builtin>
        <command>Help</command>
        <label>Help</label>
        <tooltip>Opens a browser on the user manual</tooltip>
      </builtin>
      <builtin>
        <command>InitialClef</command>
        <label>InitialClef</label>
        <tooltip>Change the initial clef of the current staff</tooltip>
      </builtin>
      <builtin>
        <command>InitialKey</command>
        <label>InitialKey</label>
        <tooltip>Set the initial key signature of the current staff</tooltip>
      </builtin>
      <builtin>
        <command>InitialTimeSig</command>
        <label>InitialTimeSig</label>
        <tooltip>Set the initial time signature of the current staff</tooltip>
      </builtin>
      <builtin>
        <command>Insert0</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;0&lt;/span&gt;</label>
        <tooltip>Insert a &lt;span  size="10000" face="Denemo"&gt;0&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>Insert1</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;1&lt;/span&gt;</label>
        <tooltip>Insert a &lt;span  size="10000" face="Denemo"&gt;1&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>Insert128Time</command>
        <label>Insert128Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Insert2</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;2&lt;/span&gt;</label>
        <tooltip>Insert a &lt;span  size="10000" face="Denemo"&gt;2&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>Insert22Time</command>
        <label>Insert22Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Insert24Time</command>
        <label>Insert24Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Insert3</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;3&lt;/span&gt;</label>
        <tooltip>Insert a &lt;span  size="10000" face="Denemo"&gt;3&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>Insert32Time</command>
        <label>Insert32Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Insert34Time</command>
        <label>Insert34Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Insert38Time</command>
        <label>Insert38Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Insert4</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;4&lt;/span&gt;</label>
        <tooltip>Insert a &lt;span  size="10000" face="Denemo"&gt;4&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>Insert42Time</command>
        <label>Insert42Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Insert44Time</command>
        <label>Insert44Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Insert5</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;5&lt;/span&gt;</label>
        <tooltip>Insert a &lt;span  size="10000" face="Denemo"&gt;5&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>Insert6</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;6&lt;/span&gt;</label>
        <tooltip>Insert a &lt;span  size="10000" face="Denemo"&gt;6&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>Insert64Time</command>
        <label>Insert64Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Insert68Time</command>
        <label>Insert68Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Insert98Time</command>
        <label>Insert98Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertA</command>
        <label>Insert A</label>
        <tooltip>Inserts note A before note at cursor
Cursor determines which octave
Note is inserted in the prevailing rhythm</tooltip>
      </builtin>
      <builtin>
        <command>InsertASharpmin</command>
        <label>InsertASharpmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertAflatmaj</command>
        <label>InsertAflatmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertAflatmin</command>
        <label>InsertAflatmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertAltoClef</command>
        <label>InsertAltoClef</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertAmaj</command>
        <label>InsertAmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertAmin</command>
        <label>InsertAmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertB</command>
        <label>Insert B</label>
        <tooltip>Inserts note B before note at cursor
Cursor determines which octave
Note is inserted in the prevailing rhythm</tooltip>
      </builtin>
      <builtin>
        <command>InsertBarline</command>
        <label>InsertBarline</label>
        <tooltip>Inserts specialized barline at the cursor position. Mostly not working</tooltip>
      </builtin>
      <builtin>
        <command>InsertBassClef</command>
        <label>InsertBassClef</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertBflatmaj</command>
        <label>InsertBflatmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertBflatmin</command>
        <label>InsertBflatmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertBlankEighthNote</command>
        <label>InsertBlankEighthNote</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertBlankHalfNote</command>
        <label>InsertBlankHalfNote</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertBlankQuarterNote</command>
        <label>InsertBlankQuarterNote</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertBlankSixteenthNote</command>
        <label>InsertBlankSixteenthNote</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertBlankSixtyfourthNote</command>
        <label>InsertBlankSixtyfourthNote</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertBlankThirtysecondNote</command>
        <label>InsertBlankThirtysecondNote</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertBlankWholeNote</command>
        <label>InsertBlankWholeNote</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertBmaj</command>
        <label>InsertBmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertBmin</command>
        <label>InsertBmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertC</command>
        <label>Insert C</label>
        <tooltip>Inserts note C before note at cursor
Cursor determines which octave
Note is inserted in the prevailing rhythm</tooltip>
      </builtin>
      <builtin>
        <command>InsertCSharpmaj</command>
        <label>InsertCSharpmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertCSharpmin</command>
        <label>InsertCSharpmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertCflatmaj</command>
        <label>InsertCflatmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertClef</command>
        <label>InsertClef</label>
        <tooltip>Insert a change of clef at the cursor</tooltip>
      </builtin>
      <builtin>
        <command>InsertCmaj</command>
        <label>InsertCmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertCmin</command>
        <label>InsertCmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertD</command>
        <label>Insert D</label>
        <tooltip>Inserts note D before note at cursor
Cursor determines which octave
Note is inserted in the prevailing rhythm</tooltip>
      </builtin>
      <builtin>
        <command>InsertDSharpmin</command>
        <label>InsertDSharpmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertDflatmaj</command>
        <label>InsertDflatmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertDmaj</command>
        <label>InsertDmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertDmin</command>
        <label>InsertDmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertDuplet</command>
        <label>InsertDuplet</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertDynamic</command>
        <label>InsertDynamic</label>
        <tooltip>Inserts a dynamic marking at the cursor position</tooltip>
      </builtin>
      <builtin>
        <command>InsertE</command>
        <label>Insert E</label>
        <tooltip>Inserts note E before note at cursor
Cursor determines which octave
Note is inserted in the prevailing rhythm</tooltip>
      </builtin>
      <builtin>
        <command>InsertEflatmaj</command>
        <label>InsertEflatmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertEflatmin</command>
        <label>InsertEflatmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertEighthRest</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;u&lt;/span&gt;</label>
        <tooltip>Insert eighth-note rest</tooltip>
        <bind>Alt+3</bind>
      </builtin>
      <builtin>
        <command>InsertEmaj</command>
        <label>InsertEmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertEmin</command>
        <label>InsertEmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertF</command>
        <label>Insert F</label>
        <tooltip>Inserts note F before note at cursor
Cursor determines which octave
Note is inserted in the prevailing rhythm</tooltip>
      </builtin>
      <builtin>
        <command>InsertFSharpmaj</command>
        <label>InsertFSharpmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertFSharpmin</command>
        <label>InsertFSharpmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertFmaj</command>
        <label>InsertFmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertFmin</command>
        <label>InsertFmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertG</command>
        <label>Insert G</label>
        <tooltip>Inserts note G before note at cursor
Cursor determines which octave
Note is inserted in the prevailing rhythm</tooltip>
      </builtin>
      <builtin>
        <command>InsertGSharpmin</command>
        <label>InsertGSharpmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertGflatmaj</command>
        <label>InsertGflatmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertGmaj</command>
        <label>InsertGmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertGmin</command>
        <label>InsertGmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertHalfRest</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;s&lt;/span&gt;</label>
        <tooltip>Insert half-note rest</tooltip>
        <bind>Alt+1</bind>
      </builtin>
      <builtin>
        <command>InsertKey</command>
        <label>InsertKey</label>
        <tooltip>Insert a key change at the cursor position</tooltip>
      </builtin>
      <builtin>
        <command>InsertLilyDirective</command>
        <label>InsertLilyDirective</label>
        <tooltip>Insert or edit a directive in the LilyPond music typesetting language. This can be used for extra spacing, transposing or almost anything. See LilyPond documentation for ideas.</tooltip>
      </builtin>
      <builtin>
        <command>InsertLilyPostfix</command>
        <label>InsertLilyPostfix</label>
        <tooltip>Insert or edit a LilyPond text to be post-fixed to the current note. This can be used for guitar fingerings, cautionary accidentals and much more. See LilyPond documentation.</tooltip>
      </builtin>
      <builtin>
        <command>InsertMeasure</command>
        <label>InsertMeasure</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>m</bind>
      </builtin>
      <builtin>
        <command>InsertMovementAfter</command>
        <label>InsertMovementAfter</label>
        <tooltip>Insert a new movement after the current one</tooltip>
      </builtin>
      <builtin>
        <command>InsertMovementBefore</command>
        <label>InsertMovementBefore</label>
        <tooltip>Insert a new movement before the current one</tooltip>
      </builtin>
      <builtin>
        <command>InsertQuadtuplet</command>
        <label>InsertQuadtuplet</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertQuarterRest</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;t&lt;/span&gt;</label>
        <tooltip>Insert quarter-note rest</tooltip>
        <bind>Alt+2</bind>
      </builtin>
      <builtin>
        <command>InsertQuintuplet</command>
        <label>InsertQuintuplet</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertRest0</command>
        <label>Insert a &lt;span  size="10000" face="Denemo"&gt;0&lt;/span&gt;rest</label>
        <tooltip>Inserts a rest at cursor position
Sets prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;0&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>InsertRest1</command>
        <label>Insert a &lt;span  size="10000" face="Denemo"&gt;1&lt;/span&gt;rest</label>
        <tooltip>Inserts a rest at cursor position
Sets prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;1&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>InsertRest2</command>
        <label>Insert a &lt;span  size="10000" face="Denemo"&gt;2&lt;/span&gt;rest</label>
        <tooltip>Inserts a rest at cursor position
Sets prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;2&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>InsertRest3</command>
        <label>Insert a &lt;span  size="10000" face="Denemo"&gt;3&lt;/span&gt;rest</label>
        <tooltip>Inserts a rest at cursor position
Sets prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;3&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>InsertRest4</command>
        <label>Insert a &lt;span  size="10000" face="Denemo"&gt;4&lt;/span&gt;rest</label>
        <tooltip>Inserts a rest at cursor position
Sets prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;4&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>InsertRest5</command>
        <label>Insert a &lt;span  size="10000" face="Denemo"&gt;5&lt;/span&gt;rest</label>
        <tooltip>Inserts a rest at cursor position
Sets prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;5&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>InsertRest6</command>
        <label>Insert a &lt;span  size="10000" face="Denemo"&gt;6&lt;/span&gt;rest</label>
        <tooltip>Inserts a rest at cursor position
Sets prevailing rhythm to &lt;span  size="10000" face="Denemo"&gt;6&lt;/span&gt;</tooltip>
      </builtin>
      <builtin>
        <command>InsertRhythm</command>
        <label>InsertRhythm</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertSeptuplet</command>
        <label>InsertSeptuplet</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertSextuplet</command>
        <label>InsertSextuplet</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertSixteenthRest</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;v&lt;/span&gt;</label>
        <tooltip>Insert sixteenth-note rest</tooltip>
        <bind>Alt+4</bind>
      </builtin>
      <builtin>
        <command>InsertSixtyfourthRest</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;x&lt;/span&gt;</label>
        <tooltip>Insert sixty-fourth note rest</tooltip>
        <bind>Alt+6</bind>
      </builtin>
      <builtin>
        <command>InsertSopranoClef</command>
        <label>InsertSopranoClef</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertStem</command>
        <label>InsertStem</label>
        <tooltip>Inserts a stem neutral tag. Click on this tag and use Sharpen/StemDown etc commands to change stem direction</tooltip>
      </builtin>
      <builtin>
        <command>InsertTenorClef</command>
        <label>InsertTenorClef</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertThirtysecondRest</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;w&lt;/span&gt;</label>
        <tooltip>Insert thirty-second note rest</tooltip>
        <bind>Alt+5</bind>
      </builtin>
      <builtin>
        <command>InsertTiedNote</command>
        <label>Tied note</label>
        <tooltip>Inserts a duplicate of the current note, tied</tooltip>
        <bind>t</bind>
      </builtin>
      <builtin>
        <command>InsertTimeSig</command>
        <label>InsertTimeSig</label>
        <tooltip>Edit/Insert a time signature change for the current measure</tooltip>
      </builtin>
      <builtin>
        <command>InsertTrebleClef</command>
        <label>InsertTrebleClef</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertTriplet</command>
        <label>InsertTriplet</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>InsertWholeRest</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;r&lt;/span&gt;</label>
        <tooltip>Insert whole-note rest</tooltip>
        <bind>Alt+0</bind>
      </builtin>
      <builtin>
        <command>Insertg8clef</command>
        <label>Insertg8clef</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>JoinVoices</command>
        <label>JoinVoices</label>
        <tooltip>Merge this staff as a voice on the previous staff</tooltip>
      </builtin>
      <builtin>
        <command>ListAvailablePlugins</command>
        <label>ListAvailablePlugins</label>
        <tooltip>List the available plugins</tooltip>
      </builtin>
      <builtin>
        <command>ListPlugins</command>
        <label>ListPlugins</label>
        <tooltip>List the loaded plugins</tooltip>
      </builtin>
      <builtin>
        <command>LoadPlugins</command>
        <label>LoadPlugins</label>
        <tooltip>Load Plugins</tooltip>
      </builtin>
      <builtin>
        <command>MeasureLeft</command>
        <label>MeasureLeft</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>Control+Right</bind>
      </builtin>
      <builtin>
        <command>MeasureRight</command>
        <label>MeasureRight</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>Control+Left</bind>
      </builtin>
      <builtin>
        <command>MovementProps</command>
        <label>MovementProps</label>
        <tooltip>Change properties of this movement</tooltip>
      </builtin>
      <builtin>
        <command>New</command>
        <label>New</label>
        <tooltip>Start a new musical score</tooltip>
        <bind>Control+n</bind>
      </builtin>
      <builtin>
        <command>NewWindow</command>
        <label>New Tab</label>
        <tooltip>Create working area (tab with an empty score in it)</tooltip>
      </builtin>
      <builtin>
        <command>NextBookmark</command>
        <label>NextBookmark</label>
        <tooltip>Go to the next bookmarked point in the list</tooltip>
      </builtin>
      <builtin>
        <command>NextMovement</command>
        <label>NextMovement</label>
        <tooltip>Go to the next movement</tooltip>
      </builtin>
      <builtin>
        <command>NextRhythm</command>
        <label>NextRhythm</label>
        <tooltip>Make next rhythm pattern
the prevailing rhythm.
Notes entered will follow this pattern</tooltip>
      </builtin>
      <builtin>
        <command>OctaveDown</command>
        <label>OctaveDown</label>
        <tooltip>Octave Down</tooltip>
        <bind>comma</bind>
      </builtin>
      <builtin>
        <command>OctaveUp</command>
        <label>OctaveUp</label>
        <tooltip>Octave Up</tooltip>
        <bind>apostrophe</bind>
      </builtin>
      <builtin>
        <command>Open</command>
        <label>Open</label>
        <tooltip>Open a file containing a music score for editing</tooltip>
        <bind>Control+o</bind>
      </builtin>
      <builtin>
        <command>OpenCloseRepeat</command>
        <label>OpenCloseRepeat</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>OpenExample</command>
        <label>OpenExample</label>
        <tooltip>Start a new score from a built-in example</tooltip>
      </builtin>
      <builtin>
        <command>OpenMyTemplate</command>
        <label>OpenMyTemplate</label>
        <tooltip>Start a new score from one of your own template files</tooltip>
      </builtin>
      <builtin>
        <command>OpenNewWindow</command>
        <label>OpenNewWindow</label>
        <tooltip>Open a file containing a music score for editing in a separate working area (tab</tooltip>
      </builtin>
      <builtin>
        <command>OpenRepeat</command>
        <label>OpenRepeat</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>OpenTemplate</command>
        <label>OpenTemplate</label>
        <tooltip>Start a new score from a built-in template file</tooltip>
      </builtin>
      <builtin>
        <command>Paste</command>
        <label>Paste</label>
        <tooltip>Paste the selected music</tooltip>
        <bind>Control+v</bind>
      </builtin>
      <builtin>
        <command>Play</command>
        <label>Play</label>
        <tooltip>Play</tooltip>
      </builtin>
      <builtin>
        <command>PlayCSound</command>
        <label>PlayCSound</label>
        <tooltip>Play using CSound...</tooltip>
      </builtin>
      <builtin>
        <command>PlaybackProperties</command>
        <label>PlaybackProperties</label>
        <tooltip>Allows you to specify properties used in playing back (midi and csound</tooltip>
      </builtin>
      <builtin>
        <command>Preferences</command>
        <label>Preferences</label>
        <tooltip>Set and save your preferences for how Denemo operates on startup. Edit .denemo/denemorc for missing ones</tooltip>
      </builtin>
      <builtin>
        <command>PrevBookmark</command>
        <label>PrevBookmark</label>
        <tooltip>Go to the previous bookmarked point in the list</tooltip>
      </builtin>
      <builtin>
        <command>PreviousMovement</command>
        <label>PreviousMovement</label>
        <tooltip>Go to the previous movement</tooltip>
      </builtin>
      <builtin>
        <command>Print</command>
        <label>Print</label>
        <tooltip>Displays the final finished score in a pdf viewer. From this you can print the file using the print command of the viewer</tooltip>
      </builtin>
      <builtin>
        <command>PrintExcerptPreview</command>
        <label>PrintExcerptPreview</label>
        <tooltip>Displays a musical excerpt in your image viewer</tooltip>
      </builtin>
      <builtin>
        <command>PrintPart</command>
        <label>PrintPart</label>
        <tooltip>Displays the final finished score for the current part (that is current staff</tooltip>
      </builtin>
      <builtin>
        <command>PrintPreview</command>
        <label>PrintPreview</label>
        <tooltip>Displays the final finished score in your pdf viewer</tooltip>
        <bind>P</bind>
      </builtin>
      <builtin>
        <command>QuarterNote</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;2&lt;/span&gt;</label>
        <tooltip>Insert quarter-note</tooltip>
      </builtin>
      <builtin>
        <command>Quit</command>
        <label>Quit</label>
        <tooltip>Quit the Denemo program</tooltip>
      </builtin>
      <builtin>
        <command>Redo</command>
        <label>Redo</label>
        <tooltip>Redo</tooltip>
      </builtin>
      <builtin>
        <command>RemoveDot</command>
        <label>RemoveDot</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>Control+period</bind>
      </builtin>
      <builtin>
        <command>RemoveNoteFromChord</command>
        <label>Remove note</label>
        <tooltip>Remove a note from the current chord</tooltip>
      </builtin>
      <builtin>
        <command>Save</command>
        <label>Save</label>
        <tooltip>Save the score</tooltip>
        <bind>Control+s</bind>
      </builtin>
      <builtin>
        <command>SaveAccels</command>
        <label>Save Keyboard Shortcuts</label>
        <tooltip>Save the keyboard shortcuts as the default</tooltip>
      </builtin>
      <builtin>
        <command>SaveAs</command>
        <label>SaveAs</label>
        <tooltip>Save the score under a new name</tooltip>
      </builtin>
      <builtin>
        <command>SaveParts</command>
        <label>SaveParts</label>
        <tooltip>Save Parts: each staff becomes a file in lilypond format</tooltip>
      </builtin>
      <builtin>
        <command>SaveSelection</command>
        <label>SaveSelection</label>
        <tooltip>Save the selected music. Not sure if this is working</tooltip>
      </builtin>
      <builtin>
        <command>SaveTemplate</command>
        <label>SaveTemplate</label>
        <tooltip>Save the score as a template for re-use as a starting point for new scores</tooltip>
      </builtin>
      <builtin>
        <command>ScoreProperties</command>
        <label>ScoreProperties</label>
        <tooltip>Change some of the properties of the current score. This will start up a dialog window</tooltip>
      </builtin>
      <builtin>
        <command>Set128Time</command>
        <label>Set128Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Set22Time</command>
        <label>Set22Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Set24Time</command>
        <label>Set24Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Set32Time</command>
        <label>Set32Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Set34Time</command>
        <label>Set34Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Set38Time</command>
        <label>Set38Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Set42Time</command>
        <label>Set42Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Set44Time</command>
        <label>Set44Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Set64Time</command>
        <label>Set64Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Set68Time</command>
        <label>Set68Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Set98Time</command>
        <label>Set98Time</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetGrace</command>
        <label>SetGrace</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialASharpmin</command>
        <label>SetInitialASharpmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialAflatmaj</command>
        <label>SetInitialAflatmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialAflatmin</command>
        <label>SetInitialAflatmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialAltoClef</command>
        <label>SetInitialAltoClef</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialAmaj</command>
        <label>SetInitialAmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialAmin</command>
        <label>SetInitialAmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialBassClef</command>
        <label>SetInitialBassClef</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialBflatmaj</command>
        <label>SetInitialBflatmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialBflatmin</command>
        <label>SetInitialBflatmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialBmaj</command>
        <label>SetInitialBmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialBmin</command>
        <label>SetInitialBmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialCSharpmaj</command>
        <label>SetInitialCSharpmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialCSharpmin</command>
        <label>SetInitialCSharpmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialCflatmaj</command>
        <label>SetInitialCflatmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialCmaj</command>
        <label>SetInitialCmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialCmin</command>
        <label>SetInitialCmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialDSharpmin</command>
        <label>SetInitialDSharpmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialDflatmaj</command>
        <label>SetInitialDflatmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialDmaj</command>
        <label>SetInitialDmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialDmin</command>
        <label>SetInitialDmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialEflatmaj</command>
        <label>SetInitialEflatmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialEflatmin</command>
        <label>SetInitialEflatmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialEmaj</command>
        <label>SetInitialEmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialEmin</command>
        <label>SetInitialEmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialFSharpmaj</command>
        <label>SetInitialFSharpmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialFSharpmin</command>
        <label>SetInitialFSharpmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialFmaj</command>
        <label>SetInitialFmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialFmin</command>
        <label>SetInitialFmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialGSharpmin</command>
        <label>SetInitialGSharpmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialGflatmaj</command>
        <label>SetInitialGflatmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialGmaj</command>
        <label>SetInitialGmaj</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialGmin</command>
        <label>SetInitialGmin</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialSopranoClef</command>
        <label>SetInitialSopranoClef</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialTenorClef</command>
        <label>SetInitialTenorClef</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialTrebleClef</command>
        <label>SetInitialTrebleClef</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetInitialg8clef</command>
        <label>SetInitialg8clef</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SetMark</command>
        <label>SetMark</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SharpenOrStemDown</command>
        <label>SharpenOrStemDown</label>
        <tooltip>No Tooltip yet</tooltip>
        <bind>plus</bind>
      </builtin>
      <builtin>
        <command>ShorterStaffs</command>
        <label>ShorterStaffs</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ShrinkMeasures</command>
        <label>ShrinkMeasures</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>SixteenthNote</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;4&lt;/span&gt;</label>
        <tooltip>Insert sixteenth-note</tooltip>
      </builtin>
      <builtin>
        <command>SixtyfourthNote</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;6&lt;/span&gt;</label>
        <tooltip>Insert sixty-fourth-note</tooltip>
      </builtin>
      <builtin>
        <command>SplitVoices</command>
        <label>SplitVoices</label>
        <tooltip>Split off the next voice as a separate staff</tooltip>
      </builtin>
      <builtin>
        <command>StaffDown</command>
        <label>StaffDown</label>
        <tooltip>Go to the staff below</tooltip>
        <bind>Control+Down</bind>
      </builtin>
      <builtin>
        <command>StaffProperties</command>
        <label>StaffProperties</label>
        <tooltip>Change the properties of the current staff</tooltip>
      </builtin>
      <builtin>
        <command>StaffUp</command>
        <label>StaffUp</label>
        <tooltip>Go to the staff above</tooltip>
        <bind>Control+Up</bind>
      </builtin>
      <builtin>
        <command>StartTriplet</command>
        <label>StartTriplet</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>Stop</command>
        <label>Stop</label>
        <tooltip>Stop</tooltip>
      </builtin>
      <builtin>
        <command>SwapMovements</command>
        <label>SwapMovements</label>
        <tooltip>Swap this movement with the one before</tooltip>
      </builtin>
      <builtin>
        <command>SwapStaffs</command>
        <label>SwapStaffs</label>
        <tooltip>Swap this staff with the one higher up. Note this actually swaps voices.</tooltip>
      </builtin>
      <builtin>
        <command>TallerStaffs</command>
        <label>TallerStaffs</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ThirtysecondNote</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;5&lt;/span&gt;</label>
        <tooltip>Insert thirty-second-note</tooltip>
      </builtin>
      <builtin>
        <command>ToggleAccent</command>
        <label>ToggleAccent</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleArpeggio</command>
        <label>ToggleArpeggio</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleBeginSlur</command>
        <label>ToggleBeginSlur</label>
        <tooltip>Insert/delete begin slur on this note</tooltip>
      </builtin>
      <builtin>
        <command>ToggleBlankMode</command>
        <label>ToggleBlankMode</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleCoda</command>
        <label>ToggleCoda</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleEdit</command>
        <label>ToggleEdit</label>
        <tooltip>Toggle between current mode and edit mode</tooltip>
      </builtin>
      <builtin>
        <command>ToggleEndCrescendo</command>
        <label>ToggleEndCrescendo</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleEndDiminuendo</command>
        <label>ToggleEndDiminuendo</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleEndSlur</command>
        <label>ToggleEndSlur</label>
        <tooltip>Insert/delete end slur on this note</tooltip>
      </builtin>
      <builtin>
        <command>ToggleFermata</command>
        <label>ToggleFermata</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleFlageolet</command>
        <label>ToggleFlageolet</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleMordent</command>
        <label>ToggleMordent</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleOpen</command>
        <label>ToggleOpen</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>TogglePrall</command>
        <label>TogglePrall</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>TogglePrallMordent</command>
        <label>TogglePrallMordent</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>TogglePrallPrall</command>
        <label>TogglePrallPrall</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleRest</command>
        <label>ToggleRest</label>
        <tooltip>Toggle between note entry and rest entry</tooltip>
      </builtin>
      <builtin>
        <command>ToggleRestMode</command>
        <label>ToggleRestMode</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleReverseTurn</command>
        <label>ToggleReverseTurn</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleRhythm</command>
        <label>ToggleRhythm</label>
        <tooltip>Toggle between note entry and rhythm entry</tooltip>
      </builtin>
      <builtin>
        <command>ToggleSegno</command>
        <label>ToggleSegno</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleSforzato</command>
        <label>ToggleSforzato</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleStaccatissimo</command>
        <label>ToggleStaccatissimo</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleStaccato</command>
        <label>ToggleStaccato</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleStartCrescendo</command>
        <label>ToggleStartCrescendo</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleStartDiminuendo</command>
        <label>ToggleStartDiminuendo</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleStopped</command>
        <label>ToggleStopped</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleTenuto</command>
        <label>ToggleTenuto</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleThumb</command>
        <label>ToggleThumb</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleTrill</command>
        <label>ToggleTrill</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleTurn</command>
        <label>ToggleTurn</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>ToggleUpprall</command>
        <label>ToggleUpprall</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>TransposeStaff</command>
        <label>TransposeStaff</label>
        <tooltip>Transpose the current staff</tooltip>
      </builtin>
      <builtin>
        <command>Undo</command>
        <label>Undo</label>
        <tooltip>Undo</tooltip>
      </builtin>
      <builtin>
        <command>UnloadPlugins</command>
        <label>UnloadPlugins</label>
        <tooltip>Unload Plugins</tooltip>
      </builtin>
      <builtin>
        <command>UnsetMark</command>
        <label>UnsetMark</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
      <builtin>
        <command>VoiceDown</command>
        <label>VoiceDown</label>
        <tooltip>Go to the lower numbered voice on this staff</tooltip>
      </builtin>
      <builtin>
        <command>VoiceUp</command>
        <label>VoiceUp</label>
        <tooltip>Go to the higher numbered voice (or staff if highest voice number on staff</tooltip>
      </builtin>
      <builtin>
        <command>WholeNote</command>
        <label>&lt;span  size="10000" face="Denemo"&gt;0&lt;/span&gt;</label>
        <tooltip>Insert whole-note</tooltip>
      </builtin>
      <builtin>
        <command>WidenMeasures</command>
        <label>WidenMeasures</label>
        <tooltip>No Tooltip yet</tooltip>
      </builtin>
    </map>
  </commands>
</Denemo>
